*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container{
    width: 100%;
}

/* navbar css */

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 250px;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
}

.navbar img{
    width: 100px;
    height: 60px;
    margin-top: 20px;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.navbar ul li{
    height: 40px;
    list-style: none;
    margin-left: 30px;
    font-weight: 600;
}

.navbar ul li a{
    align-items: center;
    height: 40px;
    text-decoration: none;
    color: black;
}

.navbar ul li:first-child{
    border-bottom: 3px solid black;
}

.navbar ul li:hover{
    border-bottom: 3px solid black;
}


.navbar button{
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px 20px 0px 20px ;
    margin-top: 20px;
    font-weight: 600;
}

/* navbar css ends here */

/* hero-section css */

.hero-section{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.hero-section h1{
    margin-top: 150px;
    margin-left: 250px;
}

.hero-section p{
    margin-left: 250px;
    margin-top: 20px;
}

.hero-section button{
    width: 200px;
    height: 40px;
    background-color: rgb(255, 168, 46);
    margin-left: 250px;
    margin-top: 20px;
    border-radius: 20px 20px 20px 0px;
    border: none;
    font-weight: 700;
    font-size: 15px;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.right{
    width: 50%;
}

.right img{
    width: 600px;
    height: 400px;
    margin-top: 120px;
    border-radius: 0px 0px 1000px 1000px;
}

/* hero-section css ends here */

/* section 3 css */

.section3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.section3 img{
    width: 1150px;
    height: 450px;
}

/*  section 3 css ends here */

/* section 4 */

.section4{
    width: 100%;
}

.section4 h1{
    margin-left: 800px;
    z-index: 2;
    margin-top: 40px;
}

.section4 p{
    margin-left: 800px;
    z-index: 2;
    margin-top: 40px;
    font-size: 18px
}

.section4 button{
    margin-left: 800px;
    z-index: 2;
    margin-top: 40px;
    width: 200px;
    height: 60px;
    border-radius: 30px 30px 30px 0px;
    background-color: rgb(251, 222, 57);
    border: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.box4{
    width: 700px;
    height: 500px;
    background-color: rgba(251, 222, 57, 0.227) ;
    border: none;
    border-radius: 150px;
    margin-top: -250px;
    margin-left: -100px;
    transform: rotate(-35deg);
    z-index: -2;
}

#sec4-1{
    width: 190px;
    height: 300px;
    border-radius: 90px 90px 0px 90px ;
    z-index: 1;
    position: relative;
    top: -550px;
    margin-left: 200px;
}

#sec4-2{
    width: 290px;
    height: 400px;
    border-radius: 0px 90px 90px 90px ;
    z-index: 1;
    position: relative;
    top: -250px;
    margin-left: 10px;
}

/* section 4 ends here */

/* section 5 */

.section5{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box5{
    width: 1100px;
    height: 600px;
    background-color:rgba(251, 222, 57, 0.227);
    border: none;
    border-radius: 300px;
    transform: rotate(-10deg);
    margin-left: 100px;
    margin-top: -150px;
    z-index: -1;
}

.section5 h1{
    margin-top: -450px;
}

#sec5-p1{
    margin-top: 30px;
}

.section5 span{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.smallbox{
    width: 180px;
    height: 180px;
    border: none;
    border-radius: 90px;
    background-color: white;
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

/* section 5 ends here */

/* section 6 */

.section6{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section6 span{
    margin-top: 50px;
}

.section6 h1{
    margin-top: 200px;
}

.section6 button:first-child{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px 0px 0px 0px;
    background-color: rgb(251, 222, 57) ;
    font-size: 18px;
    font-weight: 700;
}

.section6 button:last-child{
    width: 200px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 0px 0px 25px 0px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
}

#span2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 250px;
}

.smallbox6{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallbox6 img {
    width: 180px;
    height: 150px;
}

.smallbox6 h1{
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

.smallbox6 p{
    text-align: center;
    margin-top: 20px;
}


/* section 6 ends here */

/* section 7 */

.section7{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section7 h1{
    margin-top: 400px;
}

.section7 span{
    margin-top: 30px;
}

.section7 button:first-child{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px 0px 0px 0px;
    background-color: rgb(251, 222, 57) ;
    font-size: 18px;
    font-weight: 700;
}

.section7 button:last-child{
    width: 200px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 0px 0px 25px 0px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
}

#review-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 350px;
    
}

.reviewbox{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 50px;
    background-color: white;
}

.reviewbox img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

.reviewbox p{
    margin-left: 20px;
    margin-top: 20px;
}

.box7{
    width: 1500px;
    height: 500px;
    background-color: rgba(122, 122, 177, 0.293);
    z-index: -1;
    border-radius: 230px;
    margin-left: -450px;
    margin-top: -450px;
}

/* section 7 ends here */


/* section 8 */

.section8{
    width: 100%;
    margin-top: 150px;
}

.section8 h1{
    margin-left: 800px;
    z-index: 2;
    margin-top: 40px;
}

.section8 p{
    margin-left: 800px;
    z-index: 2;
    margin-top: 40px;
    font-size: 18px
}

.section8 button{
    margin-left: 800px;
    z-index: 2;
    margin-top: 40px;
    width: 200px;
    height: 60px;
    border-radius: 30px 30px 30px 0px;
    background-color: rgb(251, 222, 57);
    border: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.box8{
    width: 700px;
    height: 500px;
    background-color: rgba(251, 222, 57, 0.227) ;
    border: none;
    border-radius: 150px;
    margin-top: -250px;
    margin-left: -100px;
    transform: rotate(-35deg);
    z-index: -2;
}

#sec8-1{
    width: 190px;
    height: 300px;
    border-radius: 90px 90px 0px 90px ;
    z-index: 1;
    position: relative;
    top: -550px;
    margin-left: 200px;
}

#sec8-2{
    width: 290px;
    height: 400px;
    border-radius: 0px 90px 90px 90px ;
    z-index: 1;
    position: relative;
    top: -250px;
    margin-left: 10px;
}

/* section 8 ends here */


/* footer */

.footer{
    width: 100%;
    display: flex;
    background-color: black;
    color:white;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding-inline: 250px;
}

.footer ul{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer ul li{
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* footer ends here */